.container {
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-top: 3em;
  border: 2px solid black;
}

.header {
  padding: 1em;
  text-align: left;
}

.chartBox {
  height: 400px;
  width: 600px;
}

.commentBox {
  padding: 1em;
}

.comment {
  border: 1px solid black;
  border-radius: 25px;
  margin: 1em;
  padding: 1em;
  text-align: left;
  background-color: aliceblue;
}