.container {
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-top: 3em;
  border: 2px solid black;
}

.header {
  padding: 1em;
  text-align: left;
}

.chartBox {
  height: 400px;
  width: 600px;
  padding: 2em;
}

.chartDot:hover {
  cursor: pointer;
}

.closeButton {
  border: none;
  font-weight: bold;
  display: inline-block;
  background-color: transparent;
  flex-grow: 0;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 5px;
}

.closeButton:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.commentHeader {
  display: flex
}

.commentHeader h3 {
  flex-grow: 1;
}

.comment {
  border: 1px solid black;
  border-radius: 5px;
  margin: 1em;
  padding: 0.5em;
  text-align: left;
  background-color:ghostwhite;
}

.commentBox p {
  margin: 0px;
}

.addComment {
  text-align: left;
  padding: 1em;
}

.commentForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5em;
}

.usernameBox {
  margin: auto;
}

.textBox {
  flex: 1 1 100%;
  width: 100%;
}

.lowerContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.lowerContainer button {
  flex-grow: 0;
}

.usernameBox {
  flex-grow: 1;
}

